{% extends 'base.html.twig' %}

{% block title %}Mokhtari| Mome{% endblock %}

{% block body %}
 {% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
{% endfor %}
<div id="root"  style="
     position:relative;
     min-height:100vh;
     padding:0;
     margin:0;
    ">
</div>
{% endblock %}


