@media (min-width:1200px) {
#login-desktop{
  max-width: 50%;
}
#js-action{
  max-width: 50%;
}
}


section{
	padding-bottom: 230px;
	grid-row-gap: 20px;
}

#search-category{
  margin:20px;
}
.search-category{
	background-color: blue;
	color: white;
	padding: 5px;
	margin-top:10px;
	margin-right:5px;
	border-radius: 5px;
	width: 100%;
	font-weight: bold;
	text-align: center;
	transition: transform .5s;
	text-align: center;
}


.search-category:hover{
	cursor: pointer;
	transform:scale(1.1);
}
@media (min-width:1200px) {
	footer{
	grid-template-columns: 1fr 1fr 1fr;
	}
section{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.card{
 	max-width: 390px;
 }

  
}
@media (min-width: 750px) and (max-width:1199px){
  section{
  	display: grid;
	grid-template-columns: 1fr 1fr;
}
footer{
	grid-template-columns: 1fr 1fr;
	}
footer .middle_footer{
	grid-column-start: span 2;
}
}

@media (max-width:740px){
	footer{
		grid-template-columns: 1fr;
	}
}


#component{
	margin-top:90px;
}

.form-check-input, input[type=radio]{
	opacity:0;
}


.cart-move{
	position: relative;
	left: 31%;
}

.btn-pro{
	margin: 15px;

}
.fa-heart{
	font-size: 25px;
	outline: none;
}
.fas, .far{
	outline: none;
}
.btn-love{
	font-size: 27px;
	color: red;
	
}
#js-likes{
	font-size:20px;
	margin-right: 15px;

	font-weight: bold;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 10px;
}
.prod-title{
	text-decoration: none;
	transition: transform 0.5s;
}

.prod-title:hover{
	transform: scale(1.2);
}
.show-comment, .show{
	display: block;
}

.hide-comment, .hide{
	display:none;
}

#main{
	margin-top: 80px;
	text-align: center;
	margin-bottom: 80px;
}
.form-search{
	margin:20px;
    
   
}
.form-search input{
	height: 50px;
}
.pagination{

}


footer{
	background-color: black;
	color: white;
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 15px;
	position: absolute;
	bottom:0;
	
	
}
.middle_footer{
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-family:cursive;
}
 .fab {
	text-align: center;
	margin: 10px;
	size: 25px;
	font-weight: bold;
	color: magenta;
}