.comments{
	border-top: 1px solid gray;
	margin: 10px
}
.product{
	height: 100%;
}

.btn-comment{
	text-align: center;
}
section .commentaires{
  margin-top: 10px;
  text-align: center;
}

.comment-form{
max-width: 70%;
}

.loader{
  min-height: 250px;
}
.product-content{

}
@media (min-width:847px){
  .product-body{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}	

.product-img{
	max-height:100%;
	max-width: 100%;
}

}

@media (max-width:740px){
	.product-body{
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
}	

.product-img{
	max-height: 100%;
	max-width: 100%;
}

}



.comment-form{

}
.btn-q{
	border-radius: 50%;
	background: transparent;
	margin: 20px;
	border:1px solid blue;
}

.right-side{
	margin: 20px;
}