.side_bar{
	display: none;
	position: fixed;
	top: 220px;
	right: 0;
	z-index: 10;
	border-left: 1px solid black;
}

.btn-side-bar{
	position: fixed;
	top: 185px;
	right: 0;
	z-index: 10;
	border-left: 1px solid black;
}

#side_bar{
 transition: transform 0.5s;
}

#side_bar:hover{
	transform: scale(1.1);
	cursor:pointer ;
}

/**
 * spinneur
 */
#spinner{
	z-index: 20;
	margin: 0 auto;
	text-align: center;
	size: 50px;


}

.toTop{
outline: none;
z-index: 99;
position: fixed;
left: 0;
bottom: 0px;
cursor: pointer;
font-size: 18px;	

}