<section>
	<div>
		<h2> Souk Sidi El Mokhtar </h2>
		<h4 style="padding-left:10px;color:blue;">Hello {{ user.username }},</h4>
		<p style="font-weight:bold;">
			Merci d'avoir demande de réintialisation de mot de pass chez nous:
			 <strong>Souk Sidi El Mokhtar</strong>, afin de faire ça un code sera demandé pour vérifier votre email qui :
			 <h4 style="color:green; text-align:center"> {{ code  }} </h6>
		</p>
		<p style="font-weight:bold; text-align:center;">
			le code de réinitialisation de mot de passe est {{ code  }}
		</p>
		<p>
			<a href={{"http://localhost:8000/user/new-password/" ~ user.id}}>
				le lien de vérification
			</a>
		</p>
	</div>
</section>