<section>
	<div>
		<h2> Souk Sidi El Mokhtar </h2>
		<h4 style="padding-left:10px;color:blue;">Hello {{ user.username }},</h4>
		<p style="font-familly:cursive; font-size:bold;">
			Merci d'avoir demande de réintialisation de mot de passchez nous Souk Sidi El Mokhtar! Avant de commencer nous avons juste besoin de confirmer qu'il s'agit bien de toi.
		</p>
		<p style="font-weight:bold; text-align:center; ">
			Clique sur le lien ci-dessous pour vérifier ton adress e-mail
		</p>
		<p>
			<a 
			href="{{ absolute_url( path('reset-password')) }}"
               style="
                text-decoration:none;
                background-color: darkorange;
                border-radius: 30px;
                translation: 0.5s;
                padding:20px;
                text-align:center;
                margin-left:100px;
                margin-top:50px;ß
                font-size:bold;
               " 
			>Vérifier l'adress email</a>
		</p>
	</div>
</section>