<section>
	<div>
		<h2> Souk Sidi El Mokhtar </h2>
		<h4 style="padding-left:10px;color:blue;">Hello {{ user.username }},</h4>
		<p style="font-familly:cursive; font-size:bold;">
			Merci d'avoir créé un compte chez nous Souk Sidi El Mokhtar! Avant de commencer nous avons juste besoin de confirmer qu'il s'agit bien de toi.
		</p>
		<p style="font-weight:bold; text-align:center; ">
			votre code d'activation est <strong> {{ code }} </strong> 
		</p>
       <p>
       	<a href="https://shopping-najmi.herokuapp.com/email-confirmation">
       		Confirmer mon email !
       	</a>
       </p>
		<p>
		</p>
	</div>
</section>